$color-dark: #424e6e;
$color-medium: #586994;
$color-light: #ced8f2;
$color-neutral-light: #dbdbdb;
$color-neutral-dark: #595959;

/* FONT SIZES */

.fsSmall {
  font-size: 1rem;
}

.fsMedium {
  font-size: 1.125rem;
}

.fsLarge {
  font-size: 1.25rem;
}

.fsXl {
  font-size: 1.5rem;
}

.fsXxl {
  font-size: 2rem;
}

/* FONT WEIGHTS */

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}
.fw700 {
  font-weight: 700;
}

/* MARGINS */

.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt25 {
  margin-top: 2.5rem;
}

/* CONTAINER */

.container {
  max-width: 1024px;
  width: 90%;
  margin: 0 auto;
}

/* COLORS */

.colorDark {
  color: $color-dark;
}

.colorMedium {
  color: $color-medium;
}

.colorLight {
  color: $color-light;
}

.colorNeutralLight {
  color: $color-neutral-light;
}

.colorNeutralDark {
  color: $color-neutral-dark;
}

/* UPPERCASE */

.uppercase {
  text-transform: uppercase;
}

/* FLEX AND GRID */

%flex {
  display: flex;
  gap: var(--gap, 1.5rem);
  align-items: center;
}

.flexBetween {
  @extend %flex;
  justify-content: space-between;
}
.flexCenter {
  @extend %flex;
  align-items: center;
}

%grid {
  display: grid;
}

.grid {
  @extend %grid;
}

.placeContentCenter {
  @extend %grid;
  place-content: center;
}

.gridAutoColumns {
  @extend %grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--minWidth, 240px), 1fr));
}
.gridAutoColumnsItemLarge {
  --minWidth: 300px;
}

/* GAPS */

.gap1 {
  gap: 1rem;
}

.gap2 {
  gap: 2rem;
}
.gap3 {
  gap: 3rem;
}

.gap4 {
  gap: 4rem;
}

/* BUTTON */
%btn {
  padding: 0.5em 1em;
  border-radius: 0.5rem;
  cursor: pointer;
}

%btnPrimary {
  @extend %btn;
  border: 3px solid $color-medium;
  // background-color: $color-dark;
  // color: $color-light;
  background-color: white;
  color: $color-medium;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: $color-medium;
    color: white;
  }
}

.btnPrimary {
  @extend %btnPrimary;
}

.btnPrimary100 {
  @extend %btnPrimary;
  width: 100%;
}

// BLOCK

.imageContainer {
  aspect-ratio: 1;
  position: relative;
  * {
    object-fit: contain;
  }
}
